name: CI

# Controls when the workflow will run
on:
  push:    
    branches: [main]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up environment variables
      run: |
        echo "HOME=/tmp" >> $GITHUB_ENV
        echo "DOTNET_CLI_HOME=/tmp" >> $GITHUB_ENV

    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '8.0.x'
     
    - name: Install dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Publish
      run: dotnet publish -c Release -o /var/www/polis-pro-be

    - name: Restart the app
      run: |
        /home/github/restart_service.sh &
        disown
